.hidden {
  display: none;
}
nav > ul {
  display: table;
  border-radius: 7px;
  background: #213B81;
  color: white;
  list-style: none;
  margin: 0;
  padding: 5px 5px 15px 15px;
  margin-top: 5px;
}
nav ul > div {
  float: right;
  padding: 0 5px 5px 5px;
}
nav > ul > div:hover,
nav button:hover {
  cursor: pointer;
}
nav a {
  color: white;
  display: block;
  padding: 5px 25px 5px 5px;
  white-space: nowrap;
}